<!DOCTYPE html>

<!--layout:decorate="~{layout}" - Какая страница будет шаблоном для данной страницы-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список преподавателей</title>
</head>
<div layout:fragment="content">
  <h1>Список преподавателей</h1>

  <table class="table">
    <thead>
    <tr>
      <th>ФИО</th>
      <th>Должность</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="teacherDTO" type="ru.edu.eduscheduler.dto.TeacherDTO"*/-->
    <tr th:each="teacherDTO: ${pagination}">
      <td th:text="${teacherDTO.getUserDTO().getFullName()}"></td>
      <td th:text="${teacherDTO.getPosition()}"></td>
      <td>
        <a th:href="@{/education_plans/teacher/{id}(id=${teacherDTO.getId()})}">Расписание</a>
      </td>
    </tr>
    </tbody>
  </table>

  <nav>
    <ul th:if="${pagination.totalPages > 0}" class="pagination justify-content-center">
      <li th:each="pageNumber : ${pageNumbers}" class="page-item"
          th:class="${pageNumber==pagination.number + 1} ? 'page-item disabled'">
        <a th:href="@{/teachers(page=${pageNumber})}"
           th:text="${pageNumber}"
           class="page-link"></a>
      </li>
    </ul>
  </nav>
</div>
<body>
</body>
</html>