<!DOCTYPE html>

<!--layout:decorate="~{layout}" - Какая страница будет шаблоном для данной страницы-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список аудиторий</title>
</head>
<div layout:fragment="content">
  <h1>Список аудиторий</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Номер аудитории</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="roomDTO" type="ru.edu.eduscheduler.dto.RoomDTO"*/-->
    <tr th:each="roomDTO: ${pagination}">
      <td th:text="${roomDTO.getNumber()}"></td>
      <td>
        <a th:href="@{/education_plans/room/{id}(id=${roomDTO.getId()})}">Расписание</a>
      </td>
    </tr>
    </tbody>
  </table>

  <nav>
    <ul th:if="${pagination.totalPages > 0}" class="pagination justify-content-center">
      <li th:each="pageNumber : ${pageNumbers}" class="page-item"
          th:class="${pageNumber==pagination.number + 1} ? 'page-item disabled'">
        <a th:href="@{/rooms(page=${pageNumber})}"
           th:text="${pageNumber}"
           class="page-link"></a>
      </li>
    </ul>
  </nav>
</div>
<body>
</body>
</html>