<!DOCTYPE html>

<!--layout:decorate="~{layout}" - Какая страница будет шаблоном для данной страницы-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Создать занятие</title>
</head>
<div layout:fragment="content">
  <h1>Добавление занятия в расписании</h1>

  <!--/*@thymesVar id="educationPlanDTO" type="ru.edu.eduscheduler.dto.EducationPlanDTO"*/-->
  <form method="POST" th:action="@{/education_plans/add}" th:object="${educationPlanDTO}">
    <input name="date" type="date" th:value="${date}" id="date" hidden>
    <input name="groupId" type="text" th:value="${groupDTO.getId()}" id="groupId" hidden>
    <input name="scheduleId" type="text" th:value="${scheduleDTO.getId()}" id="scheduleId" hidden>
    <div class="mb-3">
      <label class="form-label">Дата
        <input class="form-control ui-state-disabled" th:value="${date}" disabled>
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label">Время
        <input class="form-control ui-state-disabled" th:value="${scheduleDTO.getInterval()}" disabled>
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label">Группа
        <input class="form-control ui-state-disabled" th:value="${groupDTO.getNumber()}" disabled>
      </label>
    </div>
    <div class="mb-3">
      <label for="roomId" class="form-label">Аудитория</label>
      <select class="form-select" name="roomId" id="roomId">
        <option selected>Выберете аудиторию</option>
        <option th:each="room: ${roomList}" th:value="${room.id}" th:text="${room.number}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label for="subjectId" class="form-label">Предмет</label>
      <select class="form-select" name="subjectId" id="subjectId">
        <option selected>Выберете предмет</option>
        <option th:each="subjectDTO: ${subjectDTOList}" th:value="${subjectDTO.id}"
                th:text="${subjectDTO.title}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label for="teacherId" class="form-label">Преподаватель</label>
      <select class="form-select" name="teacherId" id="teacherId">
        <option selected>Выберете преподавателя</option>
        <!--/*@thymesVar id="teacher" type="ru.edu.eduscheduler.model.Teacher"*/-->
        <option th:each="teacher: ${teacherList}" th:value="${teacher.id}"
                th:text="${teacher.getUser().getLastName()}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>

</div>
<body>
</body>
</html>