<!DOCTYPE html>

<!--layout:decorate="~{layout}" - Какая страница будет шаблоном для данной страницы-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактировать занятие</title>
</head>
<div layout:fragment="content">
  <h1>Добавление занятия в расписании</h1>

  <!--/*@thymesVar id="educationPlanDTO" type="ru.edu.eduscheduler.dto.EducationPlanDTO"*/-->
  <form method="POST" th:action="@{/education_plans/update/{id}(id=${educationPlan.getId()})}" th:object="${educationPlanDTO}">
    <div class="mb-3">
      <label class="form-label">Дата
        <input class="form-control ui-state-disabled" th:value="${date}" disabled>
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label">Время
        <input class="form-control ui-state-disabled" th:value="${educationPlan.getSchedule().getInterval()}" disabled>
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label">Группа
        <input class="form-control ui-state-disabled" th:value="${educationPlan.getGroup().getNumber()}" disabled>
      </label>
    </div>
    <div class="mb-3">
      <label for="roomId" class="form-label">Аудитория</label>
      <select class="form-select" name="roomId" id="roomId">
        <option selected>Выберете аудиторию</option>
        <option th:each="room: ${roomList}" th:value="${room.id}"
                th:text="${room.number}"
                th:selected="${room.id==educationPlan.getRoomId()}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label for="subjectId" class="form-label">Предмет</label>
      <select class="form-select" name="subjectId" id="subjectId">
        <option selected>Выберете предмет</option>
        <option th:each="subjectDTO: ${subjectDTOList}" th:value="${subjectDTO.id}"
                th:text="${subjectDTO.title}"
                th:selected="${subjectDTO.id==educationPlan.getSubjectId()}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label for="teacherId" class="form-label">Преподаватель</label>
      <select class="form-select" name="teacherId" id="teacherId">
        <option selected>Выберете преподавателя</option>
        <!--/*@thymesVar id="teacher" type="ru.edu.eduscheduler.model.Teacher"*/-->
        <option th:each="teacher: ${teacherList}" th:value="${teacher.id}"
                th:text="${teacher.getUser().getLastName()}"
                th:selected="${teacher.id==educationPlan.getTeacherId()}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>

  <br><hr><br>
  <form method="POST" th:action="@{/education_plans/delete/{id}(id=${educationPlan.getId()})}">
    <button type="submit" class="btn btn-danger">Удалить</button>
  </form>

</div>
<body>
</body>
</html>