<!DOCTYPE html>

<!--layout:decorate="~{layout}" - Какая страница будет шаблоном для данной страницы-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/mainLayout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Расписание группы</title>
</head>
<div layout:fragment="content">
  <h1>Добро пожаловать на стартовую страницу системы управления расписанием</h1>
  <h2 th:text="'Группа: ' + ${groupDTO.getNumber()}"></h2>

  <form method="get" th:action="@{/education_plans/group/{id}(id=${groupDTO.getId()})}">
    <label>Показать расписание на дату:
      <input type="date" name="date" th:value="${date}">
    </label>
    <input type="submit" value="Показать">
  </form>

  <table class="table">
    <thead>
    <tr>
      <th>Расписание занятий</th>
      <th scope="col" th:each="date: ${dateEducationPlanLinkedMap.getLinkedMapDTO().keySet()}"
          th:text="${date.toString()}"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="schedule" type="ru.edu.eduscheduler.model.Schedule"*/-->
    <tr th:each="schedule: ${schedules}">
      <td th:text="${schedule.getInterval()}">
        <!--/*@thymesVar id="scheduleDTO" type="ru.edu.eduscheduler.dto.EducationPlanForViewDTO"*/-->
      <td th:each="linkedEducationPlanMapEntry: ${dateEducationPlanLinkedMap.getLinkedMapDTO().entrySet()}"
          th:with="scheduleDTO=${linkedEducationPlanMapEntry.getValue().getLinkedMap().get(schedule)}">
        <div th:if="${scheduleDTO.getId()}">
          <a sec:authorize="isAuthenticated() && hasAnyRole('ADMIN', 'MANAGER')"
             th:href="@{/education_plans/edit/{id}(id=${scheduleDTO.getId()})}" target="_blank" class="ui-button">редактировать</a>
          <p th:text="'Предмет: ' + ${scheduleDTO.getSubjecTitle()}" class="ui-menu-item-wrapper"></p>
          <p th:text="'Аудитория: ' + ${scheduleDTO.getRoomNumber()}" class="ui-menu-item-wrapper"></p>
          <p th:text="'Преподаватель: ' + ${scheduleDTO.getTeacherFIO()}" class="ui-menu-item-wrapper"></p>
        </div>
        <div th:unless="${scheduleDTO.getId()}">
          -------<br>
          <a sec:authorize="isAuthenticated() && hasAnyRole('ADMIN', 'MANAGER')"
             th:href="@{/education_plans/create(date=${linkedEducationPlanMapEntry.getKey().toString()},scheduleId=${schedule.getId()},groupId=${groupDTO.getId()})}"
             target="_blank" class="ui-button">добавить</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<body>
</body>
</html>