<!DOCTYPE html>

<!--layout:decorate="~{layout}" - Какая страница будет шаблоном для данной страницы-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Расписание аудитории</title>
</head>
<div layout:fragment="content">
  <h1>Расписание аудитории</h1>
  <h2 th:text="'Аудитория: ' + ${room.getNumber()}"></h2>

  <form method="get" th:action="@{/education_plans/room/{id}(id=${room.getId()})}">
    <label>Показать расписание на дату:
      <input type="date" name="date" th:value="${date}">
    </label>
    <input type="submit" value="Показать">
  </form>

  <table class="table">
    <thead>
    <tr>
      <th>Расписание занятий</th>
      <th scope="col" th:each="date: ${dateEducationPlanLinkedMap.getLinkedMapDTO().keySet()}"
          th:text="${date.toString()}"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="schedule" type="ru.edu.eduscheduler.model.Schedule"*/-->
    <tr th:each="schedule: ${schedules}">
      <td th:text="${schedule.getInterval()}">
        <!--/*@thymesVar id="scheduleDTO" type="ru.edu.eduscheduler.dto.EducationPlanForViewDTO"*/-->
      <td th:each="linkedEducationPlanMapEntry: ${dateEducationPlanLinkedMap.getLinkedMapDTO().entrySet()}"
          th:with="scheduleDTO=${linkedEducationPlanMapEntry.getValue().getLinkedMap().get(schedule)}">
        <div th:if="${scheduleDTO.getId()}">
          <p th:text="'Предмет: ' + ${scheduleDTO.getSubjecTitle()}" class="ui-menu-item-wrapper"></p>
          <p th:text="'Группа: ' + ${scheduleDTO.getGroupNumber()}" class="ui-menu-item-wrapper"></p>
          <p th:text="'Преподаватель: ' + ${scheduleDTO.getTeacherFIO()}" class="ui-menu-item-wrapper"></p>
        </div>
        <div th:unless="${scheduleDTO.getId()}">
          --------
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<body>
</body>
</html>