<!DOCTYPE html>

<!--layout:decorate="~{layout}" - Какая страница будет шаблоном для данной страницы-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/mainLayout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список групп</title>
</head>
<div layout:fragment="content">
  <h1>Список групп</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Номер группы</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="groupDTO" type="ru.edu.eduscheduler.dto.GroupDTO"*/-->
    <tr th:each="groupDTO: ${pagination}">
      <td th:text="${groupDTO.getNumber()}"></td>
      <td>
        <a th:href="@{/education_plans/group/{id}(id=${groupDTO.getId()})}">Расписание</a>
      </td>
    </tr>
    </tbody>
  </table>

  <nav>
    <ul th:if="${pagination.totalPages > 0}" class="pagination justify-content-center">
      <li th:each="pageNumber : ${pageNumbers}" class="page-item"
          th:class="${pageNumber==pagination.number + 1} ? 'page-item disabled'">
        <a th:href="@{/groups(page=${pageNumber})}"
           th:text="${pageNumber}"
           class="page-link"></a>
      </li>
    </ul>
  </nav>
</div>
<body>
</body>
</html>